MUSIC_SOURCE_BASE_URL=https://your-private-music-api.example.com
MUSIC_SOURCE_API_KEY=
MUSIC_SOURCE_TIMEOUT_MS=6000
MUSIC_SOURCE_RETRY_TIMES=2
MUSIC_SOURCE_PLAY_LEVEL=standard
MUSIC_SOURCE_VIP_PREVIEW_MAX_MS=60000
MUSIC_SOURCE_PATH_PLAY_URL_UNBLOCK=
MUSIC_SOURCE_UNBLOCK_SOURCE=
MUSIC_SOURCE_MOCK_ENABLED=false
MUSIC_SOURCE_MOCK_FALLBACK=false
MUSIC_SOURCE_PATH_SEARCH=/search
MUSIC_SOURCE_PATH_TRACK_DETAIL=/song/detail
MUSIC_SOURCE_PATH_PLAY_URL=/song/url/v1
MUSIC_SOURCE_PATH_LYRIC=/lyric
MUSIC_SOURCE_PATH_LYRIC_NEW=/lyric/new
MUSIC_SOURCE_PATH_PLAYLIST=/playlist/detail
MUSIC_SOURCE_ENABLE_DISCOVER=true
MUSIC_SOURCE_ENABLE_SCENE=true
MUSIC_SOURCE_DOWNLOAD_LEVEL=exhigh
MUSIC_SOURCE_LYRIC_PREFER_NEW=true
MUSIC_SOURCE_PATH_SEARCH_HOT_DETAIL=/search/hot/detail
MUSIC_SOURCE_PATH_SEARCH_DEFAULT=/search/default
MUSIC_SOURCE_PATH_SEARCH_SUGGEST_PC=/search/suggest/pc
MUSIC_SOURCE_PATH_BANNER=/banner
MUSIC_SOURCE_PATH_PERSONALIZED=/personalized
MUSIC_SOURCE_PATH_TOPLIST_DETAIL=/toplist/detail
MUSIC_SOURCE_PATH_TOP_PLAYLIST_HIGHQUALITY=/top/playlist/highquality
MUSIC_SOURCE_PATH_TOPLIST=/toplist
MUSIC_SOURCE_PATH_ALBUM=/album
MUSIC_SOURCE_PATH_ALBUM_DETAIL=/album/detail
MUSIC_SOURCE_PATH_ARTIST_DETAIL=/artist/detail
MUSIC_SOURCE_PATH_ARTIST_TOP_SONG=/artist/top/song
MUSIC_SOURCE_PATH_CHECK_MUSIC=/check/music
MUSIC_SOURCE_PATH_SONG_CREATORS=/song/creators
MUSIC_SOURCE_PATH_SONG_WIKI_SUMMARY=/song/wiki/summary
MUSIC_SOURCE_PATH_SONG_CHORUS=/song/chorus
MUSIC_SOURCE_PATH_SONG_COPYRIGHT_RCMD=/song/copyright/rcmd
MUSIC_SOURCE_PATH_SONG_DOWNLOAD_URL=/song/download/url/v1
MUSIC_SOURCE_PATH_SATI_TAG_LIST=/sati/tag/list
MUSIC_SOURCE_PATH_SATI_RESOURCE_LIST=/sati/resource/list
MUSIC_SOURCE_PATH_RADIO_SPORT_GET=/radio/sport/get
