# dependencies
node_modules

# next.js
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
node_modules
.next
.env
.env.local
.env.production
npm-debug.log*

# misc
.DS_Store
*.pem
coverage
playwright-report
test-results
